<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685628113620-9eiaucbqbis611557bsah8urdrpfvqf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685628113620-9eiaucbqbis611557bsah8urdrpfvqf1</string>
	<key>API_KEY</key>
	<string>AIzaSyB-N4J2y8E_F2ZHbSd92hAjhtv2wCjviIg</string>
	<key>GCM_SENDER_ID</key>
	<string>685628113620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kamusBugis</string>
	<key>PROJECT_ID</key>
	<string>kamus-bugis-f1467</string>
	<key>STORAGE_BUCKET</key>
	<string>kamus-bugis-f1467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685628113620:ios:f281dcdafd6f00c82a3141</string>
</dict>
</plist>